<template>
  <section class="container">
    <div class="admin-create-product">
      <div style="padding-top: 5%"></div>
      <div id="create-product" class="box">
        <b-field horizontal label="Tên sản phẩm">
          <b-input
            v-model="formData.name"
            placeholder="Nhập tên sản phẩm VD: Iphone 12 Pro Max"
          ></b-input>
        </b-field>

        <!-- Price -->
        <b-field horizontal label="Giá sản phẩm">
          <b-numberinput
            v-model="formData.price"
            controls-alignment="right"
            controls-position="compact"
            expanded
            placeholder="Nhập giá sản phẩm VD: 30.000.000"
          ></b-numberinput>
        </b-field>

        <!-- Categories -->
        <b-field horizontal label="Danh mục sản phẩm">
          <b-select v-model.number="formData.categoryID" expanded>
            <option
              v-for="category in categories"
              :key="category.id"
              :value="category.id"
            >
              {{ category.name }}
            </option>
          </b-select>
        </b-field>

        <!-- Brands -->
        <b-field horizontal label="Thương hiệu sản phẩm">
          <b-select v-model.number="formData.brandID" expanded>
            <option v-for="brand in brands" :key="brand.id" :value="brand.id">
              {{ brand.name }}
            </option>
          </b-select>
        </b-field>

        <b-field horizontal label="Dung lượng lưu trữ">
          <b-select v-model.number="formData.storageID" expanded>
            <option
              v-for="storage in storages"
              :key="storage.id"
              :value="storage.id"
            >
              {{ storage.storage }}
            </option>
          </b-select>
        </b-field>

        <div>Chọn màu sắc</div>
        <b-field expanded>
          <b-select
            v-model="formData.colors"
            :native-size="colors.length"
            multiple
            placeholder="Choose color product"
            size="is-medium"
          >
            <option v-for="color in colors" :key="color.id" :value="color.id">
              {{ color.color }}
            </option>
          </b-select>
        </b-field>

        <!--  show input field color if choose in select option      -->
        <div v-for="color in colors" :key="color.id">
          <div v-for="item in formData.colors" :key="item">
            <b-field v-if="item === color.id" :label="color.color">
              <b-input
                :id="`color-${item}`"
                :placeholder="`Nhập số lượng màu ${color.color}`"
                :value="1"
                @keyup.stop.native="handleAddProductColor(item)"
              ></b-input>
            </b-field>
          </div>
        </div>
        <div style="padding: 20px"></div>
        <!-- Description -->
        <ckeditor
          v-model="formData.description"
          :config="editorConfig"
          :editor="editor"
          tag-name="textarea"
        ></ckeditor>
        <!-- Chooses images -->
        <SelectFiles :formData="formData" />
      </div>
    </div>
  </section>
</template>

<script>
import SelectFiles from "./SelectFiles";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import { mapState, mapActions } from "vuex";
import Api from "../../apis/Api";

export default {
  name: "CreateProduct",
  components: {
    SelectFiles,
  },
  computed: {
    ...mapState("PRODUCTS", ["createProduct"]),
  },
  data() {
    return {
      editor: ClassicEditor,
      editorConfig: {
        // The configuration of the editor.
      },
      formData: {
        name: "",
        price: 1,
        description: "",
        categoryID: 1,
        brandID: 1,
        storageID: 1,
        colors: [],
      },
      categories: [],
      brands: [],
      storages: [],
      colors: [],
      files: "",
    };
  },
  created() {
    this.handleGetCategories();
    this.handleGetBrands();
    this.handleGetProductStorages();
    this.handleGetProductColors();
  },

  methods: {
    ...mapActions("PRODUCTS", [
      "getCategories",
      "getBrands",
      "getStorageProduct",
      "handleUpdateProductColor",
    ]),
    async handleGetCategories() {
      try {
        const response = await this.getCategories();
        this.categories = response.data;
      } catch (error) {
        console.log(error.response.data);
      }
    },

    async handleGetBrands() {
      try {
        const response = await this.getBrands();
        this.brands = response.data;
      } catch (error) {
        console.log(error.response.data);
      }
    },

    async handleGetProductStorages() {
      try {
        const response = await this.getStorageProduct();
        this.storages = response.data;
      } catch (e) {
        console.log(e);
      }
    },

    async handleGetProductColors() {
      try {
        const response = await Api().get("/colors");
        this.colors = response.data;
      } catch (e) {
        console.log(e);
      }
    },

    handleAddProductColor(id) {
      const quantity = document.getElementById(`color-${id}`).value;
      const object = {
        color_id: id,
        quantity: quantity,
      };
      this.handleUpdateProductColor(object);
    },
  },
};
</script>

<style scoped>
#create-product {
  padding: 5%;
  width: 60%;
  margin: auto;
}

.error-message {
  color: hsl(348, 100%, 61%);
  font-size: 0.9em;
}
</style>
