<style>
input[type="file"] {
  /* position: absolute;
  top: -500px; */
  display: none;
}

div.file-listing {
  width: 200px;
}

span.remove-file {
  color: red;
  cursor: pointer;
  float: right;
}

.text-xl {
  display: none;
}
</style>

<template>
  <div class="container">
    <div class="large-12 medium-12 small-12 cell">
      <label class="text-xl"
        >Files
        <input
          type="file"
          id="files"
          ref="files"
          multiple
          v-on:change="handleFilesUpload()"
        />
      </label>
    </div>
    <div class="large-12 medium-12 small-12 cell">
      <div v-for="(file, key) in files" :key="file.name" class="file-listing">
        {{ file.name }}
        <b-button
          type="is-danger"
          size="is-small"
          class="remove-file"
          v-on:click="removeFile(key)"
          >Remove
        </b-button>
      </div>
    </div>

    <b-field>
      <b-button type="is-primary is-light" @click="addFiles()"
        >Choose images
      </b-button>
    </b-field>

    <b-field>
      <b-button type="is-primary" @click="submitFiles()">Create</b-button>
    </b-field>
  </div>
</template>

<script>
import Api from "@/apis/Api";
import { mapState, mapActions } from "vuex";

export default {
  components: {},
  props: ["formData"],
  computed: {
    ...mapState("PRODUCTS", ["productColors"]),
  },
  /*
    Defines the data used by the component
  */
  data() {
    return {
      files: [],
    };
  },

  /*
    Defines the method used by the component
  */
  methods: {
    ...mapActions("PRODUCTS", ["resetProductColorState"]),

    /*
      Adds a file
    */
    addFiles() {
      this.$refs.files.click();
    },

    /*
      Submits files to the server
    */
    async submitFiles() {
      /*
        Initialize the form data
      */
      let formData = new FormData();
      formData.append("name", this.formData.name);
      formData.append("price", this.formData.price);
      formData.append("description", this.formData.description);
      formData.append("brand_id", this.formData.brandID);
      formData.append("category_id", this.formData.categoryID);
      formData.append("storage_id", this.formData.storageID);
      formData.append("productColors[]", JSON.stringify(this.productColors)); /*
          Iteate over any file sent over appending the files
          to the form data.
        */
      // console.log(JSON.stringify(this.productColors));
      // return;
      for (var i = 0; i < this.files.length; i++) {
        let file = this.files[i];

        formData.append("files[" + i + "]", file);
      }
      // for (var pair of formData.entries()) {
      //   console.log(pair[0] + ", " + pair[1]);
      // }
      /*
        Make the request to the POST /select-files URL
      */
      try {
        await Api().post("/products", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
        this.$buefy.toast.open({
          duration: 3000,
          message: "Tạo sản phẩm mới thành công!",
          position: "is-top-right",
          type: "is-success",
          pauseOnHover: true,
        });
        this.resetProductColorState();
      } catch (error) {
        if (error.response.status === 422) {
          this.$buefy.toast.open({
            duration: 3000,
            message: "Tạo sản phẩm mới thất bại!",
            position: "is-top-right",
            type: "is-danger",
            pauseOnHover: true,
          });
        }
        // console.log("ERRORS: ", error.response.data);
      }
    },

    /*
    Handles the uploading of files
  */
    handleFilesUpload() {
      let uploadedFiles = this.$refs.files.files;

      /*
        Adds the uploaded file to the files array
      */
      for (var i = 0; i < uploadedFiles.length; i++) {
        this.files.push(uploadedFiles[i]);
      }
    },

    /*
      Removes a select file the user has uploaded
    */
    removeFile(key) {
      this.files.splice(key, 1);
    },
  },
};
</script>
