<template>
  <section>
    <Navbar />
    <div id="create-voucher" class="container">
      <!-- Box -->
      <div class="box">
        <b-field label="Tiêu Đề">
          <b-input v-model="formData.title"></b-input>
        </b-field>
        <div class="block error-message" v-if="errors.title">
          {{ errors.title[0] }}
        </div>

        <b-field label="Mã giảm giá">
          <b-input v-model="formData.code"></b-input>
        </b-field>
        <div class="block error-message" v-if="errors.code">
          {{ errors.code[0] }}
        </div>

        <b-field label="Phần trăm giảm giá">
          <b-numberinput v-model="formData.discount" placeholder="Ví dụ 50">
          </b-numberinput>
        </b-field>
        <div class="block error-message" v-if="errors.discount">
          {{ errors.discount[0] }}
        </div>

        <b-field label="Nhập số lượng mã giảm giá">
          <b-numberinput v-model="formData.quantity" placeholder="Ví dụ 50">
          </b-numberinput>
        </b-field>
        <div class="block error-message" v-if="errors.quantity">
          {{ errors.quantity[0] }}
        </div>

        <b-field label="Giá thấp nhất để áp dụng mã giảm giá">
          <b-numberinput
            v-model="formData.min_price"
            placeholder="Ví dụ 50.000đ"
          ></b-numberinput>
        </b-field>
        <div class="block error-message" v-if="errors.min_price">
          {{ errors.min_price[0] }}
        </div>

        <b-field label="Chọn ngày bắt đầu mở khuyến mãi">
          <b-datepicker
            v-model="date_start"
            placeholder="Click to select..."
            icon="calendar-today"
            :icon-right="date_start ? 'close-circle' : ''"
            icon-right-clickable
            @icon-right-click="clearDateStart"
            trap-focus
          >
          </b-datepicker>
        </b-field>
        <div class="block error-message" v-if="errors.date_start">
          {{ errors.date_start[0] }}
        </div>

        <!-- Date end -->
        <b-field label="Chọn ngày kết thúc khuyến mãi">
          <b-datepicker
            v-model="date_end"
            placeholder="Click to select..."
            icon="calendar-today"
            :icon-right="date_end ? 'close-circle' : ''"
            icon-right-clickable
            @icon-right-click="clearDateEnd"
            trap-focus
          >
          </b-datepicker>
        </b-field>
        <div class="block error-message" v-if="errors.date_end">
          {{ errors.date_end[0] }}
        </div>

        <div id="button-create">
          <b-button type="is-success" @click="handleCreateVoucher">
            <b-icon pack="fas" icon="plus-circle" custom-class="fa-spin">
            </b-icon>
            <span> Tạo phiếu giảm giá</span>
          </b-button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  // @ is an alias to /src
  import Navbar from "@/components/Navbar";

  //import Vuex
  import { mapActions } from "vuex";

  export default {
    name: "CreateVoucher",
    components: { Navbar },
    data() {
      return {
        date_start: new Date(),
        date_end: new Date(),

        formData: {
          title: "",
          code: "",
          date_start: null,
          date_end: null,
          discount: 5,
          min_price: 10000,
          quantity: 1,
        },
        errors: [],
      };
    },
    methods: {
      ...mapActions("VOUCHERS", ["createVoucher"]),

      async handleCreateVoucher() {
        try {
          // Reformat date
          this.formData.date_start = this.formatDate(
            this.date_start
          ).toString();
          this.formData.date_end = this.formatDate(this.date_end).toString();

          // Call api
          const response = await this.createVoucher(this.formData);
          console.log(response);
          this.errors = [];
          this.$buefy.toast.open({
            duration: 3000,
            message: "Tạo voucher thành công!",
            position: "is-top-right",
            type: "is-success",
            pauseOnHover: true,
          });
        } catch (error) {
          if (error.response.status === 422) {
            this.errors = error.response.data.errors;
            // console.log(this.errors);
            this.$buefy.toast.open({
              duration: 3000,
              message: "Vui lòng thử lại!",
              position: "is-top-right",
              type: "is-danger",
              pauseOnHover: true,
            });
          }
        }
      },

      clearDateStart() {
        this.date_start = null;
      },

      clearDateEnd() {
        this.date_end = null;
      },

      pad2(n) {
        return (n < 10 ? "0" : "") + n;
      },

      formatDate(date) {
        var month = this.pad2(date.getMonth() + 1); //months (0-11)
        var day = this.pad2(date.getDate()); //day (1-31)
        var year = date.getFullYear();
        var formattedDate = year + "-" + month + "-" + day;
        return formattedDate;
      },
    },
  };
</script>

<style scoped>
  .box {
    width: 50%;
    text-align: left;
    margin: auto;
  }
  #button-create {
    text-align: center;
  }
  .error-message {
    color: hsl(348, 100%, 61%);
    font-size: 0.9em;
  }
</style>
