<template>
  <section id="cart">
    <Navbar />
    <div class="container">
      <div v-if="carts.length !== 0">
        <div style="padding: 2%; background-color: #f5f5f5"></div>
        <div class="nav-cart">
          <div>Thao tác</div>
          <div>Số tiền</div>
          <div>Số lượng</div>
          <div>Đơn giá</div>
          <div>Sản phẩm</div>
        </div>
        <div>
          <!-- List items -->
          <div
            class="nav-cart list-cart-items"
            v-for="item in getCartItems"
            :key="item.product_id"
          >
            <div class="btn-delete-item">
              <b-button
                type="is-danger"
                @click="deleteItemCart(item.product_id)"
                >Xóa</b-button
              >
            </div>
            <div style="color: #7957d5">
              {{
                item.subTotalPrice.toLocaleString("en-US", {
                  style: "currency",
                  currency: "VND",
                })
              }}
            </div>
            <div class="input-quantity">
              <b-button
                @click="decrementItemCart(item, $event)"
                size="is-small"
                >-</b-button
              >
              <input
                class="input-quantity"
                type="text"
                step="1"
                min="0"
                :value="item.quantity"
                @input="filterInput"
                @keydown="filterKey"
                @keyup="handleUpdateCartItem(item, $event)"
              />
              <b-button @click="incrementItemCart(item, $event)" size="is-small"
                >+</b-button
              >
            </div>
            <div>
              {{
                item.price.toLocaleString("en-US", {
                  style: "currency",
                  currency: "VND",
                })
              }}
            </div>
            <div>{{ item.name }} <span>(Màu {{ item.color_name }})</span></div>
            <div>
              <img
                style="width: 50px"
                src="https://www.apple.com/v/iphone/home/ay/images/meta/iphone__dgs666g2ou82_og.png"
                alt=""
              />
            </div>
          </div>

          <div style="padding-top: 20px">
            <b-button type="is-danger" outlined label="Xóa toàn bộ đơn hàng" @click="deleteAllItemCart"></b-button>
          </div>

          <!-- Button order -->
          <div class="btn-order">
            <div>
              Tổng thanh toán:
              <b style="color: #7d5cd6; font-size: 1.5em">{{
                getTotalPrice.toLocaleString("en-US", {
                  style: "currency",
                  currency: "VND",
                })
              }}</b>
            </div>
            <div>
              <b-button
                size="is-medium"
                type="is-primary"
                tag="router-link"
                :to="{ name: 'Checkouts' }"
                >Thanh toán</b-button
              >
            </div>
          </div>
        </div>
      </div>

      <div id="empty-cart" v-else>
        <div>
          <img
            class="empty-cart-img"
            src="https://deo.shopeemobile.com/shopee/shopee-mobilemall-live-sg/cart/a57c0ae74fc209926595939b90c934af.svg"
            alt=""
          />
        </div>
        <div>
          <p>"Hổng" có gì trong giỏ hàng hết</p>
        </div>
        <div>
          <b-button
            type="is-primary"
            outlined
            tag="router-link"
            :to="{ name: 'Products' }"
            >Mua sắm ngay!</b-button
          >
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState, mapGetters, mapActions } from "vuex";
// import components
import Navbar from "@/components/Navbar";

export default {
  name: "Carts",
  components: { Navbar },
  computed: {
    ...mapGetters("CARTS", ["getCartItems", "getTotalPrice"]),
    ...mapState("CARTS", ["carts"]),
    ...mapState("ORDERS", ["orderInformation"]),
  },
  data() {
    return {};
  },
  methods: {
    ...mapActions("CARTS", [
      "updateCartItem",
      "incrementItemCart",
      "decrementItemCart",
      "deleteItemCart",
      "deleteAllItemCart"
    ]),
    handleUpdateCartItem(product_id, event) {
      let value = parseInt(event.target.value) || 1;
      let payload = {
        product_id: product_id,
        quantity: value,
      };
      this.updateCartItem(payload);
    },

    // This can also prevent copy + paste invalid character
    filterInput(e) {
      e.target.value = e.target.value.replace(/[^0-9]+/g, "");
    },
    filterKey(e) {
      const key = e.key;

      // If is '.' key, stop it
      if (key === ".") return e.preventDefault();

      // OPTIONAL
      // If is 'e' key, stop it
      if (key === "e") return e.preventDefault();
    },
  },
};
</script>

<style scoped>
.container {
  background-color: #fff;
}
#cart {
  background-color: #f5f5f5;
  height: 100vh;
}
#empty-cart {
  background-color: #f5f5f5;
}
#empty-cart > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
}
.item-cart {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.nav-cart {
  display: flex;
  flex-direction: row-reverse;
  align-self: center;
  border: 1px solid #f9f9f9;
}
.nav-cart > div {
  padding: 20px;
  line-height: 1.2;
  text-align: center;
  text-transform: capitalize;
  width: 13%;
  align-items: left;
}
.nav-cart > div:nth-child(5) {
  text-align: left;
  width: 40%;
}

.list-cart-items > div {
  text-align: left;
  border-left-style: none;
}
.input-quantity {
  display: flex;
  width: 50px;
  height: 30px;

  text-align: center;
}
.input-quantity > input {
  border: 1px solid #dbdbdb;
}
.btn-delete-item {
  cursor: pointer;
}
.btn-order {
  display: flex;
  padding-top: 20px;
  justify-content: flex-end;
  align-items: center;
  --tw-space-x-reverse: 0;
}
.btn-order > div {
  margin-right: calc(0.375rem * var(--tw-space-x-reverse));
  margin-left: calc(0.375rem * calc(1 - var(--tw-space-x-reverse)));
  margin-right: calc(2rem * var(--tw-space-x-reverse));
  padding: 22px;
}
.empty-cart-img {
  width: 6.75rem;
  height: 6.125rem;
}
</style>
