<template>
  <section id="checkout">
    <Navbar />
    <div class="container">
      <div>Thanh Toán</div>

      <div id="delivery-address" v-show="isAuthenticated === true">
        <div style="font-size: 1.125rem">
          <div class="block">
            <b-icon pack="fas" icon="map-marked-alt" type="is-primary"></b-icon>
          </div>
          <p type="is-primary">Địa chỉ nhận hàng</p>
        </div>
        <div>
          <div style="font-weight: bold">
            {{ orderInformation.name }}(+84) {{ orderInformation.phone }}
          </div>
          <div>
            {{ orderInformation.address }}
          </div>
          <div class="button-change-address" @click="showFormOrder">
            thay đổi
          </div>
        </div>
      </div>
      <!-- Form order -->
      <div id="form-order">
        <FormOrder />
      </div>
      <div v-show="isAuthenticated === false">
        <FormOrder />
      </div>
      <div style="padding-top: 30px"></div>
      <div class="list-items">
        <div>Sản phẩm</div>
        <div></div>
        <div>Đơn giá</div>
        <div>Số lượng</div>
        <div>Thành tiền</div>
      </div>

      <div
        class="list-items"
        v-for="item in getCartItems"
        :key="item.product_id"
      >
        <div class="item-name">
          <img
            style="width: 50px"
            src="https://www.apple.com/v/iphone/home/ay/images/meta/iphone__dgs666g2ou82_og.png"
            alt=""
          />{{ item.name }}
        </div>
        <div></div>
        <div class="item-detail">
          {{
            item.price.toLocaleString("en-US", {
              style: "currency",
              currency: "VND",
            })
          }}
        </div>
        <div class="item-detail">{{ item.quantity }}</div>
        <div class="item-detail">
          {{
            item.subTotalPrice.toLocaleString("en-US", {
              style: "currency",
              currency: "VND",
            })
          }}
        </div>
        <div style="padding: 10px"></div>
      </div>

      <div class="voucher-code" v-if="getVoucherCode !== null">
        <div>Mã voucher: {{ getVoucherCode }}</div>
        <div
          class="error-message"
          v-if="isInvalidVoucher !== null && isInvalidVoucher === true"
        >
          Mã voucher này không hợp lệ, vui lòng chọn mã voucher khác
        </div>
        <div>
          <b-button type="is-danger" @click="handleCancelVoucher"
            >Hủy voucher
          </b-button>
        </div>
      </div>

      <div>
        Tổng số tiền:
        <b style="color: #7d5cd6; font-size: 1.5em">{{
          getTotalPrice.toLocaleString("en-US", {
            style: "currency",
            currency: "VND",
          })
        }}</b>
      </div>

      <div v-if="validVoucher.length !== 0 && canApplyVoucher === true">
        Tổng số tiền cần phải thanh toán:
        {{
          totalPriceAfterApplyVoucher.toLocaleString("en-US", {
            style: "currency",
            currency: "VND",
          })
        }}
        <div>
          Tiết kiệm:
          {{
            discountPrice.toLocaleString("en-US", {
              style: "currency",
              currency: "VND",
            })
          }}
        </div>
      </div>

      <div class="error-message" v-if="message !== ''">
        {{ message }}
      </div>

      <!-- Confirm order -->
      <div class="pt-5">
        <SelectVouchers />
        <b-button
          id="button-confirm-order"
          type="is-primary"
          expanded
          class="bg-white rounded p-3 cursor-pointer"
          @click="handleConfirmOrder"
        >
          Mua hàng
        </b-button>
      </div>
    </div>
  </section>
</template>

<script>
// Components
import Navbar from "@/components/Navbar";
import FormOrder from "@/components/carts/FormOrder.vue";
import SelectVouchers from "@/components/vouchers/SelectVouchers";

// Vuex
import { mapState, mapGetters, mapActions, mapMutations } from "vuex";

export default {
  name: "Checkouts",
  components: { Navbar, FormOrder, SelectVouchers },
  data() {
    return {
      discountPrice: 0,
    };
  },
  computed: {
    ...mapState("AUTH", ["userInfo"]),
    ...mapState("ORDERS", ["orderInformation"]),
    ...mapState("VOUCHERS", [
      "isInvalidVoucher",
      "validVoucher",
      "message",
      "canApplyVoucher",
    ]),
    ...mapState("CARTS", ["totalPriceAfterApplyVoucher"]),
    ...mapGetters("AUTH", ["isAuthenticated"]),
    ...mapGetters("CARTS", ["getCartItems", "getTotalPrice"]),
    ...mapGetters("VOUCHERS", ["getVoucherCode"]),
  },

  created() {
    this.handleGetOrderAddress();
  },

  updated() {
    this.checkMinPriceToApplyVoucher();
  },

  methods: {
    ...mapActions("CARTS", [
      "deleteAllItemCart",
      "setTotalPriceAfterApplyVoucher",
    ]),
    ...mapActions("ORDERS", [
      "confirmOrder",
      "getOrderAddress",
      "setDefaultOrderAddress",
    ]),
    ...mapActions("VOUCHERS", [
      "cancelVoucherCode",
      "updateMessageInvalidVoucher",
      "updateStatusApplyVoucher",
      "setVoucherCodeIsNullable",
    ]),
    ...mapMutations("VOUCHERS", ["SET_VALID_VOUCHER"]),

    async handleConfirmOrder() {
      try {
        let orderData = new FormData();

        orderData.append("cartItems[]", JSON.stringify(this.getCartItems));
        orderData.append("name", this.orderInformation.name);
        orderData.append("address", this.orderInformation.address);
        orderData.append("phone", this.orderInformation.phone);
        orderData.append("total_price", this.getTotalPrice);
        orderData.append("code", this.getVoucherCode);
        // console.log("cart: ", JSON.stringify(this.getCartItems));
        // return;
        if (this.isAuthenticated === true) {
          orderData.append("user_id", this.userInfo.id);
        }
        // Display the key/value pairs
        // for (var pair of orderData.entries()) {
        //   console.log(pair[0] + ", " + pair[1]);
        // }

        const response = await this.confirmOrder(orderData);

        if (response) {
          this.resetCartAfterOrderSuccess();
          this.$buefy.toast.open({
            duration: 3000,
            message: "Đặt hàng thành công!",
            position: "is-top-right",
            type: "is-success",
            pauseOnHover: true,
          });
          await this.$router.replace({ name: "Products" });
        }
      } catch (error) {
        // console.log(error.response.data);
      }
    },

    async handleGetOrderAddress() {
      if (this.isAuthenticated === true) {
        try {
          const response = await this.getOrderAddress(this.userInfo.id);
          const profile = {
            userId: response.data.profile[0].user_id,
            email: response.data.profile[0].user.email,
            name: response.data.profile[0].user.name,
            phone: response.data.profile[0].phone,
            address: response.data.profile[0].address,
          };
          this.setDefaultOrderAddress(profile);
        } catch (error) {
          console.log(error);
        }
      }
    },

    checkMinPriceToApplyVoucher() {
      let totalPrice = this.getTotalPrice;

      if (!jQuery.isEmptyObject(this.validVoucher)) {
        if (totalPrice >= this.validVoucher.min_price) {
          let discountPrice = (totalPrice * this.validVoucher.discount) / 100;
          totalPrice -= discountPrice;
          this.discountPrice = discountPrice;
          this.setTotalPriceAfterApplyVoucher(totalPrice);
          let message = "";
          this.updateMessageInvalidVoucher(message); //set empty message
          this.updateStatusApplyVoucher(true);
        } else {
          let messageError =
            "Đơn hàng không đủ điều kiện để sử dụng voucher này";
          this.updateMessageInvalidVoucher(messageError);
          this.updateStatusApplyVoucher(false);
        }
      }
    },

    handleCancelVoucher() {
      this.cancelVoucherCode();
      this.SET_VALID_VOUCHER({});
      let message = "";
      this.updateMessageInvalidVoucher(message);
      this.updateStatusApplyVoucher(false);
    },

    showFormOrder() {
      $("#form-order").toggle();
    },

    resetCartAfterOrderSuccess() {
      this.deleteAllItemCart();
      this.setVoucherCodeIsNullable();
      this.SET_VALID_VOUCHER({});
      this.updateMessageInvalidVoucher("");
      this.updateStatusApplyVoucher(false);
    },
  },
};
</script>

<style scoped>
#checkout {
  background-color: #f5f5f5;
  height: 100vh;
}

#form-order {
  display: none;
}

#button-confirm-order {
  width: 20%;
}

#delivery-address {
  background-color: #fff;
  padding: 20px;
}

#delivery-address > div:nth-child(1) {
  display: flex;
  height: 50px;
  justify-content: start;
}

#delivery-address > div:nth-child(1) > p {
  height: 36px;
}

#delivery-address > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

.button-change-address {
  color: #05a;
  text-transform: uppercase;
  margin-left: 60px;
  font-weight: 500;
  cursor: pointer;
}

.list-items {
  background-color: #fff;
  border: 1px solid #f9f9f9;
  text-align: left;
  display: flex;
  align-items: center;
  -moz-box-align: center;
  height: 30px;
  max-height: 30px;
  /* margin: 20px !important; */
  padding: 30px !important;
}

.list-items > div {
  font-size: 14px;
  color: #bbb;
}

.list-items > :nth-child(1) {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  width: 32%;
}

.list-items > :nth-child(2) {
  width: 16%;
}

.list-items > :nth-child(3) {
  width: 16%;
}

.list-items > :nth-child(4) {
  width: 16%;
}

.list-items > :nth-child(5) {
  width: 16%;
}

.item-name {
  font-size: 14px !important;
  color: #222 !important;
  text-overflow: ellipsis !important;
  text-transform: uppercase !important;
}

.item-detail {
  color: #000 !important;
}

.voucher-code {
  text-align: left;
}

.error-message {
  color: hsl(348, 100%, 61%);
  font-size: 0.9em;
}
</style>
