<template>
  <section class="container-fluid">
    <div></div>
    <div id="formLogin">
      <b-field label="Email">
        <b-input
          v-model="formLogin.email"
          type="email"
          icon="email"
          icon-right="close-circle"
          icon-right-clickable
          @icon-right-click="clearEmailInput"
          placeholder="eg: example@email.com"
          @keyup.enter.native="userHandleLogin"
        >
        </b-input>
      </b-field>

      <b-field label="Password">
        <b-input
          v-model="formLogin.password"
          type="password"
          icon="key"
          password-reveal
          @keyup.enter.native="userHandleLogin"
        >
        </b-input>
      </b-field>
      <div class="footer-form-login">
        <b-field>
          <b-button type="is-primary" @click="userHandleLogin">Login</b-button>
        </b-field>
        <b-field>
          <b-button type="is-text" tag="router-link" :to="{ name: 'Home' }"
            >Trang chủ</b-button
          >
        </b-field>
      </div>
    </div>
  </section>
</template>

<script>
import { mapMutations } from "vuex";
import Api from "../apis/Api";

export default {
  name: "Login",
  data() {
    return {
      formLogin: {
        email: "",
        password: "",
      },
      errors: [],
      message: "",
    };
  },
  methods: {
    ...mapMutations("AUTH", ["TOGGLE_AUTH", "UPDATE_USER_INFO"]),

    clearEmailInput() {
      this.formLogin.email = "";
    },

    async userHandleLogin() {
      try {
        const response = await Api().post("/login", this.formLogin);
        console.log(response.data);
        this.TOGGLE_AUTH({
          type: "TOGGLE_AUTH",
          status: true,
          role: response.data.user.role_id,
        }); // change status is authenticated

        this.UPDATE_USER_INFO({
          type: "UPDATE_USER_INFO",
          id: response.data.user.id,
          email: response.data.user.email,
          name: response.data.user.name,
        }); // update state user info

        localStorage.setItem("token", response.data.token);
        this.$router.replace({ name: "Home" });
      } catch (error) {
        if (error.response.status === 422) {
          this.$buefy.toast.open({
            duration: 3000,
            message: "Vui lòng nhập tài khoản và mật khẩu",
            position: "is-top-right",
            type: "is-danger",
            pauseOnHover: true,
          });
        } else if (error.response.status === 401) {
          this.$buefy.toast.open({
            duration: 3000,
            message: "Tài khoản và mật khẩu không đúng. Vui lòng thử ",
            position: "is-top-right",
            type: "is-danger",
            pauseOnHover: true,
          });
        }
      }
    },
  },
};
</script>

<style scoped>
.container-fluid {
  background-color: #7957d5;
  height: 100vh;
  margin-top: 0;
  position: relative;
}
#formLogin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #f2effb;
  border-radius: 4px;
  width: 35%;
  padding: 4vw 2vw;
}
.footer-form-login {
  display: flex;
  justify-content: space-between;
}
</style>
