<template>
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="content">
          <h1 class="title">Đăng ký tài khoản</h1>
        </div>
      </div>
    </div>
    <div class="box" id="form-register">
      <!-- User Name -->
      <div class="block">
        <b-field label="Tên của bạn">
          <b-input type="is-primary" v-model="formRegister.name"></b-input>
        </b-field>
      </div>
      <div class="block error-message" v-if="errors.name">
        {{ errors.name[0] }}
      </div>

      <!-- Email -->
      <div class="block">
        <b-field label="Địa chỉ email">
          <b-input type="is-primary" v-model="formRegister.email"></b-input>
        </b-field>
      </div>
      <div class="block error-message" v-if="errors.email">
        {{ errors.email[0] }}
      </div>

      <!-- Password -->
      <div class="block">
        <b-field label="Mật khẩu">
          <b-input
            type="password"
            password-reveal
            v-model="formRegister.password"
          ></b-input>
        </b-field>
      </div>
      <div class="block error-message" v-if="errors.password">
        {{ errors.password[0] }}
      </div>

      <!-- Password confirmation -->
      <div class="block">
        <b-field label="Nhập lại mật khẩu">
          <b-input
            type="password"
            password-reveal
            v-model="formRegister.password_confirmation"
          ></b-input>
        </b-field>
      </div>

      <!-- Phone number -->
      <div class="block">
        <b-field label="Số điện thoại">
          <b-input v-model="formRegister.phone"></b-input>
        </b-field>
      </div>
      <div class="block error-message" v-if="errors.phone">
        {{ errors.phone[0] }}
      </div>

      <!-- Address -->
      <div class="block">
        <b-field label="Địa chỉ của bạn">
          <b-input type="is-primary" v-model="formRegister.address"></b-input>
        </b-field>
      </div>
      <div class="block error-message" v-if="errors.address">
        {{ errors.address[0] }}
      </div>

      <!-- footer register -->
      <div class="form-footer">
        <b-button type="is-primary" @click="userHandleRegister"
          >Đăng ký</b-button
        >

        <router-link :to="{ name: 'Home' }" class="link-home"
          >Quay về trang chủ</router-link
        >
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "Register",
  data() {
    return {
      formRegister: {
        name: "",
        email: "",
        password: "",
        password_confirmation: "",
        phone: "",
        address: "",
      },
      errors: [],
      message: "",
    };
  },
  computed: {},
  methods: {
    ...mapActions("AUTH", ["handleRegister"]),
    async userHandleRegister() {
      try {
        const response = await this.handleRegister(this.formRegister);
        this.message = response.data.success;
        this.$buefy.toast.open({
          duration: 3000,
          message: "Tạo tài khoản thành công!",
          position: "is-top-right",
          type: "is-success",
          pauseOnHover: true,
        });
      } catch (error) {
        console.log(error);
        if (error.response.status === 422) {
          this.errors = error.response.data.errors;
          this.$buefy.toast.open({
            duration: 3000,
            message: "Vui lòng thử lại!",
            position: "is-top-right",
            type: "is-danger",
            pauseOnHover: true,
          });
        }
      }
    },
  },
};
</script>

<style scoped>
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100vh;
}
#form-register {
  /* width: 30%; */
  text-align: left;
}
.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-footer > a {
  text-decoration: underline;
}
.error-message {
  color: hsl(348, 100%, 61%);
  font-size: 0.9em;
}
</style>
