<template>
  <section id="nav-cart">
    <div>Thao tác</div>
    <div>Số tiền</div>
    <div>Số lượng</div>
    <div>Đơn giá</div>
    <div>Sản phẩm</div>
  </section>
</template>

<script>
  export default {
    name: "NavCart.vue",
  };
</script>

<style scoped>
  #nav-cart {
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
    border: 1px solid blueviolet;
    border-radius: 10px;
  }
  #nav-cart > div {
    padding: 20px;
    line-height: 1.2;
    text-align: center;
    text-transform: capitalize;
    width: 13%;
  }
  #nav-cart > div:nth-child(5) {
    text-align: left;
    width: 45%;
  }
</style>
