<template>
  <section id="#nav">
    <b-navbar>
      <template #brand>
        <b-navbar-item :to="{ name: 'Home' }" tag="router-link">
          <img
              alt="Lightweight UI components for Vue.js based on Bulma"
              src="https://raw.githubusercontent.com/buefy/buefy/dev/static/img/buefy-logo.png"
          />
        </b-navbar-item>
      </template>
      <template #start>
        <!-- Home -->
        <b-navbar-item :to="{ name: 'Home' }" tag="router-link">
          Trang chủ
        </b-navbar-item>

        <!-- Products -->
        <b-navbar-item :to="{ name: 'Products' }" tag="router-link">
          Sản phẩm
        </b-navbar-item>

        <!-- Cart -->
        <b-navbar-item v-show="getRole !== adminRole" :to="{ name: 'Carts' }" tag="router-link">
          Giỏ hàng
        </b-navbar-item>

        <!-- Contract -->
        <b-navbar-dropdown label="Xem thêm">
          <b-navbar-item href="#"> Liên hệ</b-navbar-item>

          <!-- List Orders -->
          <div v-show="getRole !== adminRole && auth.isAuthenticated === true">
            <b-navbar-item :to="{ name: 'Orders' }" tag="router-link">
              Đơn hàng
            </b-navbar-item>
          </div>
        </b-navbar-dropdown>

        <!--   Admin dashboard     -->
        <b-navbar-item tag="router-link" :to="{name:'AdminDashboard'}" v-show="getRole === adminRole">
         Trang quản lý
        </b-navbar-item>

      </template>

      <template #end>
        <b-navbar-item tag="div">
          <div v-if="auth.isAuthenticated === false" class="buttons">
            <b-navbar-item
                :to="{ name: 'Register' }"
                class="button is-primary"
                tag="router-link"
            >
              <strong>Đăng ký</strong>
            </b-navbar-item>

            <b-navbar-item
                :to="{ name: 'Login' }"
                class="button is-light"
                tag="router-link"
            >
              Đăng nhập
            </b-navbar-item>
          </div>
          <div v-else class="buttons">
            <b-button
                icon-left="logout"
                type="is-primary is-light"
                @click="handleLogout"
            >Đăng xuất
            </b-button
            >
          </div>
        </b-navbar-item>
      </template>
    </b-navbar>
  </section>
</template>
<script>
import {mapState, mapGetters, mapActions} from "vuex";
import {ROLE} from "../consts";

export default {
  name: "NavBar",
  computed: {
    ...mapState("AUTH", ["userInfo", "auth"]),
    ...mapGetters("AUTH", ["getRole"]),
  },
  data() {
    return {
      adminRole: ROLE.SUPER_ADMIN,
    };
  },
  methods: {
    ...mapActions("AUTH", ["handleLogout"]),
  },
};
</script>
<style scoped>
/* #nav {
font-weight: bold;
background-color: rgba(255, 255, 255, 0.6);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
} */

.navbar-item {
  font-weight: 900;
}

a.router-link-exact-active {
  color: #7957d5;
}
</style>
