<template>
  <div>
    <b-carousel
      :autoplay="false"
      with-carousel-list
      :indicator="false"
      :overlay="gallery"
      @click="switchGallery(true)"
    >
      <b-carousel-item v-for="(item, i) in items" :key="i">
        <figure class="image">
          <img :src="item.image" />
        </figure>
      </b-carousel-item>
      <span
        v-if="gallery"
        @click="switchGallery(false)"
        class="modal-close is-large"
      />
      <template #list="props">
        <b-carousel-list
          v-model="props.active"
          :data="items"
          v-bind="al"
          :arrow="arrow"
          :has-opacity="opacity"
          :has-drag="drag"
          @switch="props.switch($event, false)"
          as-indicator
        />
      </template>
      <template #overlay>
        <div class="has-text-centered has-text-white">Hello i'am overlay!</div>
      </template>
    </b-carousel>
  </div>
</template>

<script>
  export default {
    props: ["items"],
    data() {
      return {
        gallery: false,
        opacity: true,
        drag: true,
        arrow: true,
        al: {
          itemsToShow: 2,
          breakpoints: {
            768: {
              itemsToShow: 4,
            },
            960: {
              itemsToShow: 6,
            },
          },
        },
      };
    },
    methods: {
      switchGallery(value) {
        this.gallery = value;
        if (value) {
          document.documentElement.classList.add("is-clipped");
        } else {
          document.documentElement.classList.remove("is-clipped");
        }
      },
    },
  };
</script>
<style></style>
