<template>
  <section id="product-description" class="container">
    <div class="card">
      <div class="cart-header content">
        <h1>Mô tả sản phẩm</h1>
      </div>
      <ckeditor
        v-model="data.description"
        :config="editorConfig"
        :disabled="editorDisabled"
        :editor="editor"
        tag-name="textarea"
      ></ckeditor>
    </div>
  </section>
</template>
<script>
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";

export default {
  name: "Description",
  props: ["data"],

  data() {
    return {
      editor: ClassicEditor,
      editorConfig: {
        toolbar: [],
      },
      editorDisabled: true,
    };
  },
};
</script>
<style scoped></style>
