<template>
  <section>
    <div>
      <p id="title">Cấu hình điện thoại Iphone 12</p>
      <div class="detailed-description">
        <ul>
          <li>
            <div class="lileft">
              <p>Màn Hình:</p>
            </div>

            <div class="liright">
              <p>OLED 6.7" Super Retina XDR</p>
            </div>
          </li>
          <li>
            <div class="lileft">
              <p>Hệ điều hành:</p>
            </div>

            <div class="liright">
              <p>IOS</p>
            </div>
          </li>
          <li>
            <div class="lileft">
              <p>Camera sau:</p>
            </div>

            <div class="liright">
              <p>3 camera 12 MP</p>
            </div>
          </li>
          <li>
            <div class="lileft">
              <p>Camera trước:</p>
            </div>

            <div class="liright">
              <p>12 MP</p>
            </div>
          </li>
          <li>
            <div class="lileft">
              <p>Chip:</p>
            </div>

            <div class="liright">
              <p>Apple A15 Bionic</p>
            </div>
          </li>
          <li>
            <div class="lileft">
              <p>RAM:</p>
            </div>

            <div class="liright">
              <p>6GB</p>
            </div>
          </li>
          <li>
            <div class="lileft">
              <p>Camera trước:</p>
            </div>

            <div class="liright">
              <p>12 MP</p>
            </div>
          </li>
          <li>
            <div class="lileft">
              <p>Bộ nhớ trong:</p>
            </div>

            <div class="liright">
              <p>128GB</p>
            </div>
          </li>
          <li>
            <div class="lileft">
              <p>SIM:</p>
            </div>

            <div class="liright">
              <p>1 Nano SIM & 1 eSIM Hỗ trợ 5G</p>
            </div>
          </li>
          <li>
            <div class="lileft">
              <p>PIN, sạc:</p>
            </div>

            <div class="liright">
              <p>20 W</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name: "ProductOptions",
};
</script>
<style lang="css" scoped>
#title {
  text-align: left;
  font-weight: 900;
  font-size: 1.5em;
}
.detailed-description > ul > li {
  text-align: left;
  display: flex;
  flex-direction: row;
}
.detailed-description > ul > li:nth-child(2n + 1) {
  background-color: #f5f5f5;
}
.lileft {
  width: 140px;
}
.liright {
  width: calc(100%-140px);
  padding: 0px 5px 0 25px;
}
</style>
