<template>
  <section id="admin-order-manager">
    <div class="box filter">
      <div>
        <b-field>
          <b-select placeholder="Chọn tình trạng đơn hàng" v-model="status" rounded>
            <option :value="PENDING">Đang đợi kiểm duyệt</option>
            <option :value="APPROVE">Đã xác nhận</option>
            <option :value="CANCEL">Đã hủy</option>
            <option :value="FINISH">Giao hàng thành công</option>
          </b-select>
        </b-field>
      </div>

      <div>
        <b-field class="input-text" horizontal label="Tên hoặc số điện thoại">
          <b-input
              v-model="user"
              title="Nhập tên người dùng hoặc số điện thoại"
          >
          </b-input>
        </b-field>
      </div>

      <div>
        <b-button
            label="Xem kết quả"
            type="is-success is-light"
            @click="handleFilterOrder"
        >
        </b-button>
      </div>
    </div>

    <div>
      <b-table
          :bordered="isBordered"
          :columns="columns"
          :data="ordersData"
          :focusable="isFocusable"
          :hoverable="isHoverable"
          :loading="isLoading"
          :mobile-cards="hasMobileCards"
          :narrowed="isNarrowed"
          :striped="isStriped"
      ></b-table>
    </div>
  </section>
</template>
<script>
import {mapActions} from "vuex"; // vuex
export default {
  data() {
    return {
      user: "",
      orders: [],
      columns: [
        {
          field: "id",
          label: "ID",
          width: "40",
          numeric: true,
        },
        {
          field: "name",
          label: "Tên",
        },
        {
          field: "phone",
          label: "Số điện thoại",
          numeric: true,
        },
        {
          field: "status",
          label: "Trạng thái đơn hàng",
        },
      ],
      status: 1,
      PENDING: 1,
      APPROVE: 2,
      CANCEL: 3,
      FINISH: 4,
      // tables config
      isEmpty: false,
      isBordered: true,
      isStriped: true,
      isNarrowed: true,
      isHoverable: true,
      isFocusable: false,
      isLoading: false,
      hasMobileCards: true,
    };
  },

  computed: {
    ordersData() {
      return this.orders.map((element) => {
        return {
          id: element.id,
          name: element.name,
          phone: element.phone,
          status: element.status,
        };
      });
    },
  },

  created() {
    this.handleFilterOrder();
  },

  updated() {
    this.handleFilterOrder();
  },

  methods: {
    ...mapActions("ORDERS", ["getAllOrders"]),

    async handleFilterOrder() {
      const payload = {
        userInfo: this.userInfo,
        status: this.status,
      };

      try {
        const response = await this.getAllOrders(payload);
        this.isLoading = true;
        this.orders = response.data;
        this.isLoading = false;
      } catch (e) {
        console.log(e);
      }
    },
  },
};
</script>
<style scoped>
#admin-order-manager {
  text-align: left;
}

.tag {
  cursor: pointer;
}

.filter {
  display: flex;
  border: 1px solid #7957d5;
  justify-content: space-between;
}

.filter > div {
  width: 20%;
}

.input-text {
  width: 100%;
}

#admin-order-manager > div.box.filter > div:nth-child(2) {
  width: 50%;
}

#admin-order-manager > div.box.filter > div:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}
</style>
