<template>
	<div>
		<div class="bubble"></div>
		<div class="bubble-2"></div>
	</div>
</template>

<script>
export default {};
</script>

<style scoped>
.bubble {
	border-radius: 50%;
	position: absolute;
	border: none;
	top: 500px;
	left: -10px;
	width: 100px;
	height: 100px;
	background-color: rgba(255, 209, 209, 0.3);
}
.bubble-2 {
	border-radius: 50%;
	position: absolute;
	border: none;
	z-index: -1;
	width: 300px;
	height: 300px;
	background-color: rgba(255, 254, 209, 0.3);
}
</style>