<template>
  <div id="app" class="">
    <router-view />
  </div>
</template>

<script>
  export default {
    name: "App",
  };
</script>

<style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  #nav {
    padding: 30px;
  }

  #nav a {
    font-weight: bold;
    color: #2c3e50;
  }

  #nav a.router-link-exact-active {
    color: #42b983;
  }

  @import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

  html,
  body {
    font-family: "Roboto", sans-serif;
  }

  #app {
    font-family: "Roboto", sans-serif;
  }
</style>
