<template>
  <!-- List comment of product detail component -->
  <section id="comments" class="container">
    <div class="cart" v-if="listComments.length > 0">
      <div>Nhận xét từ khách hàng</div>
      <div
        class="list-comments"
        v-for="comment in listComments"
        :key="comment.id"
      >
        <div>
          <div class="account">
            <img
              class="avatar"
              src="https://cdn.iconscout.com/icon/free/png-256/account-avatar-profile-human-man-user-30448.png"
              alt="image"
            />
            <p>{{ comment.email }} <RatingDetails :ratePoint="comment.point" /></p>
          </div>
          <div>
            <p>{{ comment.content }}</p>
          </div>
          <div>
            <b-button
              label="Hữu ích"
              type="is-danger is-light"
              icon-pack="fas"
              icon-left="thumbs-up"
              outlined
            ></b-button>
          </div>
        </div>
      </div>
    </div>
    <div v-else>Sản phẩm này chưa có nhận xét</div>
  </section>
</template>

<script>
import { mapActions } from "vuex";
import RatingDetails from "../Ratings/RatingDetails";

export default {
  name: "Comments",
  components: {RatingDetails},
  props: ["productId"],
  data() {
    return {
      listComments: [],
    };
  },

  created() {
    this.handleGetComments();
  },
  methods: {
    ...mapActions("COMMENTS", ["getCommentsOfProduct"]),

    async handleGetComments() {
      try {
        const response = await this.getCommentsOfProduct(this.productId);
        this.listComments = response.data;
        console.log(response.data);
      } catch (e) {
        console.log(e);
      }
    },
  },
};
</script>
<style>
.container {
  text-align: left;
}

.account {
  display: flex;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.list-comments {
  padding: 20px 0px;
  border-bottom: 1px solid #e8e8e8;
}
</style>
