<template>
  <section id="user-comments">
    <div class="buttons" v-if="isEmptyComment">
      <b-button
          label="Viết đánh giá"
          type="is-success is-light"
          expanded
          @click="isCardModalActive = true"
      />
    </div>
    <b-modal v-model="isCardModalActive" :width="640" scroll="keep">
      <div class="card">
        <div class="card-header">
          <div class="card-header-title">Viết đánh giá</div>
        </div>
        <div class="card-content">
          <Ratings/>
          <div>
            <b-field label="Bình luận">
              <b-input
                  maxlength="200"
                  v-model="content"
                  type="textarea"
              ></b-input>
            </b-field>
          </div>
        </div>

        <div class="cart-footer footer">
          <div>
            <b-button
                @click="handleCloseModal"
                type="is-danger"
                label="Đóng"
            ></b-button>
          </div>

          <div>
            <b-button type="is-info" @click="handleStoreComment"
            >Gửi bình luận
            </b-button>
          </div>
        </div>
      </div>
    </b-modal>
  </section>
</template>

<script>
import {mapState, mapActions} from "vuex";
import Ratings from "@/components/Comments/Ratings/UserRatings.vue";

export default {
  name: "UserComments",
  props: ["productId"],
  components: {Ratings},
  data() {
    return {
      isCardModalActive: false,
      content: "",
    };
  },
  computed: {
    ...mapState("AUTH", ["userInfo"]),
    ...mapState("COMMENTS", ["ratingPoint", "isEmptyComment"]),
  },

  created() {
    this.handleGetDetailComment();
  },
  updated() {
    // this.handleGetDetailComment();
  },
  methods: {
    ...mapActions("COMMENTS", ["storeComment", "handleSetRatingProduct", "getDetailComments", "checkIsEmptyComment"]),

    handleStoreComment: async function () {
      const formData = {
        user_id: this.userInfo.id,
        content: this.content,
        product_id: this.productId,
        point: this.ratingPoint,
      };
      try {
        const response = await this.storeComment(formData);
        this.handleCloseModal();
        this.handleSetRatingProduct(1); // reset rate point state to default = 0
        this.$buefy.toast.open({
          duration: 3000,
          message: "Cảm ơn bạn đã đánh giá sản phẩm!",
          position: "is-top-right",
          type: "is-success",
          pauseOnHover: true,
        });
      } catch (error) {
      }
    },

    handleCloseModal() {
      this.isCardModalActive = false;
    },

    // get detail rating and comment
    async handleGetDetailComment() {
      const payload = {
        userId: this.userInfo.id,
        productId: this.productId,
      };
      try {
        const response = await this.getDetailComments(payload);
        console.log(response.data);
        if (response.data.comment == null && response.data.rating == null) {
          this.checkIsEmptyComment(true); // to display writing comment button
        } else {
          this.checkIsEmptyComment(false); // to visible writing a comment button
        }
      } catch (error) {
      }
    },
  },
};
</script>
<style>
.footer {
  display: flex;
  justify-content: flex-end;
}
</style>
