<template>
  <section>
    <b-rate
      v-model="rate"
      :icon-pack="packs"
      :icon="icons"
      :max="maxs"
      :size="sizes"
      :locale="locale"
      :show-score="score"
      :custom-text="custom"
      :show-text="text"
      :texts="texts"
      :rtl="isRtl"
      :spaced="isSpaced"
      :disabled="isDisabled"
    >
    </b-rate>
  </section>
</template>
<script>
  export default {
    name: "RatingDetails",
    props: ["ratePoint"],
    data() {
      return {
        rate: 5,
        maxs: 5,
        sizes: "",
        packs: "mdi",
        icons: "star",
        score: false,
        custom: "",
        text: true,
        texts: ["Quá tệ", "Tạm ổn", "Tốt", "Rất tốt", "Tuyệt vời"],
        isRtl: false,
        isSpaced: true,
        isDisabled: true,
        locale: undefined, // Browser locale
      };
    },
    created() {
      this.getRatePoint();
      console.log('phuocdeptai');
    },
    updated() {
      this.getRatePoint();
    },
    methods: {
      getRatePoint() {
        this.rate = this.ratePoint;
      },
    },
  };
</script>
