<template>
  <section>
    <div>Đánh giá của bạn</div>
    <b-rate
        v-model="rate"
        :custom-text="custom"
        :disabled="isDisabled"
        :icon="icons"
        :icon-pack="packs"
        :locale="locale"
        :max="maxs"
        :rtl="isRtl"
        :show-score="score"
        :show-text="text"
        :size="sizes"
        :spaced="isSpaced"
        :texts="texts"
    >
    </b-rate>
  </section>
</template>
<script>
import {mapActions} from "vuex";

export default {
  name: "UserRatings",
  props: {
    point: Number
  },
  data() {
    return {
      rate: 1,
      maxs: 5,
      sizes: "",
      packs: "mdi",
      icons: "star",
      score: false,
      custom: "",
      text: true,
      texts: ["Quá tệ", "Tạm ổn", "Tốt", "Rất tốt", "Tuyệt vời"],

      isRtl: false,
      isSpaced: true,
      isDisabled: false,
      locale: undefined, // Browser locale
    };
  },
  created() {
    this.rate = this.point;
  },
  updated() {
    this.handleSetRatingProduct(this.rate);
  },
  methods: {
    ...mapActions("COMMENTS", ["handleSetRatingProduct"]),
  },
};
</script>