<template>
  <section id="home-page">
    <div class="container">
      <div>
        Hi <span class="user-name">{{ userInfo.name }}</span> !
      </div>
    </div>
  </section>
</template>
<script>
import { mapState } from "vuex";

export default {
  name: "DashBoardHome",
  computed: {
    ...mapState("AUTH", ["userInfo"]),
  },
};
</script>
<style>
.user-name {
  color: #7957d5;
}
</style>
